head
	title Lab 5 
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico')
	style
		include ./../../server/build/css/built.css
	script
		include ./../../server/build/js/built.js