nav.navbar.navbar-fixed-top.navbar-inverse.navbar-default#mynav
	ul
		button.btn.btn-default.navbar-btn.my-nav-btns: a(href='/') Home
		button.btn.btn-default.navbar-btn.my-nav-btns: a(href='/about') About
		button.btn.btn-default.navbar-btn.my-nav-btns: a(href='/blog') Blog
